.menu {
    grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: rgb(18, 74, 9);
}

.menu ul {
  display: flex ;
  flex-wrap: wrap;
  padding: 30px;
}

.menu li {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: .1em;
}