.menu {
    grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: rgb(18, 74, 9);
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}

.menu li {
  display: flex;
  padding: 10px;
  margin-right: 200px;
  color: #fff;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: .2em;
}

.formulario h1 {
  padding: 20px 800px 20px 800px;
  color: chartreuse;
  margin-right: 200px;
  font-size: 3rem;
}

.formulario ul {
  background-color: grey;
  padding: 10px 60px 10px 60px;
  margin: 10px 10px 10px 10px;
  
}

.direitosAno p {
  font-size: 1rem;
  padding: 10px 500px 10px 500px;
  display: flex;
}

.autor input {
  background-color: #fff;
  padding: 10px 60px 10px 60px;
  margin: 10px 10px 10px 10px;
}

.capa input {
  background-color: #fff;
  padding: 10px 60px 10px 60px;
  margin: 10px 10px 10px 10px;
}

.titulo input {
  background-color: #fff;
  padding: 10px 60px 10px 60px;
  margin: 10px 10px 10px 10px;
}