.menutopo li {
  display: inline-block;
  width: 120px;
  padding: 10px;
  margin: 60px;
  align-content: center;
  align-items: center;
  border: 20px;
  border-radius: 4px;
  background: black;
  color: green;
}
